<div class="container">
  <div class="about">
    <div class="">
      <div class="">
        <h1 class="text-white about pt-3  mx-0">Sobre Nosotros</h1>
        <p class="text-white p-5">
          Bienvenido a nuestra empresa. Nos dedicamos a brindar los mejores servicios y productos tecnológicos para nuestros clientes.
          Nuestra misión es proporcionar soluciones innovadoras y de alta calidad que satisfagan las necesidades de nuestros
          consumidores.
        </p>
      </div>
    </div>
    <div class="row mt-3 d-flex flex-row justify-content-evenly gap-2  mx-0">


      <img src="programadora.webp" class="img-fluid" alt="programadora" style="width: 400px">


      <img src="programador.webp" class="img-fluid" alt="programador" style="width: 400px">


    </div>
    <div class="row mt-4">
      <div class="col-md-12">
        <p class="text-white p-5">
          Nuestro equipo está compuesto por profesionales dedicados y apasionados por lo que hacemos. Creemos en la
          importancia de la innovación, la calidad y el servicio al cliente. Gracias por confiar en nosotros.
        </p>
      </div>
    </div>
  </div>
</div>



