.grid-component {
  min-height: 1000px;
  max-width: 1320px;
  background-color: black;
}
.search-container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 10px 0 10px;
}
.search-input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  outline: none;
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.search-input:focus {
  border-color: #80bdff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.search-button {
  margin-left: 10px;
  padding: 10px 20px;
  background-color: #dc2726;
  border: none;
  color: #fff;
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.2s ease-in-out;
  transform: translateY(10px);
}
.search-button:hover {
  background-color: #be2322;
}
.search-button i {
  color: #fff;
  padding: 5px;
}
.card {
  margin-bottom: 20px;
  border: 1px solid #413e3e;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.card-img-top {
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 20px;
}
.card-body {
  padding: 20px;
  height: 700px;
  overflow: hidden;
  background-color: #262626;
}
.card-title {
  font-size: 1.25rem;
  margin-bottom: 20px;
}
.card-text {
  color: #6c757d;
  margin-bottom: 20px;
}
