<div class="container-fluid">
  <div class="p-1 bg-danger text-white fw-bold text-center">
    <img class="image" src="heroe.svg">
    <p class="title mb-2">Heroes de Marvel</p>
  </div>
  <nav class="navbar d-flex flex-row">
    <div class="" id="navbarNav">
      <ul class="navbar-nav d-flex flex-row gap-3">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">Nosotros</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>
